

body {
    background: linear-gradient(135deg, #BBB5E5 0%, #796ECD 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar{
    width: 100%;
    background: linear-gradient(180deg, #f1f1f1 0%, #796ecd00 100%);
    display:inline-block;
    position: fixed;
    top: 0; /* Positionner en haut */
    left: 0;
}
.onit{

}

.link{

}